@import '../../../_variables.scss';

.comics-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  max-width: $max-content-width;
  margin: 0 auto;
}

.comic-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.dark .comic-card {
    color: $darkestColor;
}

.comic-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the aspect ratio box */
}

.comic-info {
  padding: 0.5rem;
}

.comic-title, .comic-genre, .comic-updated {
  margin: 0.5rem 0;
}

.comic-actions {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

/* Responsive behavior */
@media (max-width: $breakpoint-md) {
  .comics-container {
    grid-template-columns: 1fr; /* Stack the cards on smaller screens */
  }
}