@import '../../../_variables.scss';

.page-container__reader {
    /* TODO FIX THIS!! */

    .action-row {
        display: flex;
        margin-top: 10px;
        font-size: 20px;
        width: 100%;
        justify-content: space-between;
    
        .first {
            flex-shrink: 0;
        }
    
        .middle {
            display: flex;
        }
    
        .separator {
            // Add some space around the arrows
            &::before,
            &::after {
                content: '|';
                margin: 0 10px; // Adjust the space as needed
            }
        }
    
        .last {
            flex-shrink: 0;
        }
    }
}
.reader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $max-content-width;
    width: 100%;
}

.comic-page {
    width: 100%; /* Makes the image responsive */
    max-width: 100%; /* Ensures the image is no wider than its container */
    height: auto; /* Maintains the aspect ratio of the image */
    margin-bottom: 0; /* Removes any gap between the images */
}

.action-row {
    a {
        color: $linkOnDark;
        &:hover {
            color: $linkOnDarkHover;
        }
    }
}

.disqus-container {
    max-width: $breakpoint-lg;
    width: 100vw;
}

/* Responsive adjustments */
@media (max-width: $breakpoint-lg) {
    .page-content {
        max-width: 100%; /* Allows the container to fill the available space */
    }
}

@media (max-width: $breakpoint-md) {
    .reader {
        padding: 0.5rem; /* Adjusts padding on smaller screens */
    }
}

@media (max-width: $breakpoint-sm) {
    /* Add any further adjustments for small screens if necessary */
}
