/* About.css */
@import '../../../_variables.scss';

.page-container__about {
    padding: 2rem;

    a {
        color: $linkOnDark;
        &:hover {
            color: $linkOnDarkHover;
        }
    }

    .bizz-buzz-stripe {
        max-width: 100%;
    }
}

/* You can add more styles here to fit the theme of your site */
