/* Footer.css */

@import '../../_variables.scss';

.footer {
    background-color: rgba(0,0,0,.25);
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
    border-top: 1px solid #000;

    &:hover {
        background-color: rgba(0,0,0,.75);
    }

    .lnk__index-static a {
        color: #000;
        font-size: 8px;
    }
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.text-muted {
  color: #777;
}

/* For tablets and above */
@media (min-width: var(--breakpoint-md)) {
  .container {
    width: 80%;
  }
}

/* For desktops and above */
@media (min-width: var(--breakpoint-lg)) {
  .container {
    width: 70%;
  }
}
