// src/_breakpoints.scss

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$max-content-width: 960px;

$darkestColor: #000;
$lightestColor: #eee;

$miniPromoSize: 200px;

$linkOnDark: gold;
$linkOnDarkHover: darkgoldenrod;

$linkOnLight: #3166ab;
$linkOnLightHover: #31666F;