@import './_variables.scss';

body {
    background-color: $lightestColor;
    color: $darkestColor;
    transition: background-color 0.3s, color 0.3s; // Smooth transition for theme change
}

// Light theme styles
body.light {
    background-color: $lightestColor;
    color: $darkestColor;
}

// Dark theme styles
body.dark {
    background-color: $darkestColor;
    color: $lightestColor;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-container {
  min-height: 100vh; /* viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* pushes footer to bottom */
}

main {
  flex: 1; /* grows to fill available space, pushing the footer down */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
